


{% extends 'base.html' %}
{% load static %}
{% block navigation %}
    {% include 'navbar.html' %}
{% endblock %}
{% load cart_tag %}
{% load static %}


{% block body_block %}

    {% if request.session.cart|length == 0 %}
        <center><h1 style="color: rgb(255, 153, 0);">Your cart is empty</h1> <img
                src="{% static 'images/empty_cart.png' %}" alt="" style="width: 100px;"/></center>

        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
    {% else %}
        <section id="cart_items">
            <div class="container">
                <div class="breadcrumbs">
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">Shopping Cart</li>
                    </ol>
                </div>
                <div class="table-responsive cart_info">
                    <table class="table table-condensed">
                        <thead>
                        <tr class="cart_menu">
                            <td class="image">Item</td>
                            <td class="description"></td>
                            <td class="price">Price</td>
                            <td class="quantity">Quantity</td>
                            <td class="total">Total</td>
                            <td></td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key,value in request.session.cart.items %}
                            <tr>
                                <td class="cart_product">
                                    <a href=""><img src="{{ value.image }}" alt="" style="width: 160px; height: 200px;"></a>
                                </td>
                                <td class="cart_description">
                                    <h4><a href="">{{ value.name }}</a></h4>
                                </td>
                                <td class="cart_price">
                                    <p>{{ value.price }}</p>
                                </td>
                                <td class="cart_quantity">
                                    <div class="cart_quantity_button">
                                        <a class="cart_quantity_up" href="{% url 'item_increment' value.product_id %}">
                                            + </a>
                                        <input class="cart_quantity_input" type="text" name="quantity"
                                               value="{{ value.quantity }}" autocomplete="off" size="2" readonly>
                                        <a class="cart_quantity_down"
                                           href="{% url 'item_decrement' value.product_id %}"> - </a>
                                    </div>
                                </td>
                                <td class="cart_total">
                                    <p class="cart_total_price">{{ value.price|multiply:value.quantity }}</p>
                                </td>
                                <td class="cart_delete">
                                    <a class="cart_quantity_delete" href="{% url 'item_clear' key %}"><i
                                            class="fa fa-times"></i></a>
                                </td>

                            </tr>
                        {% endfor %}

                        </tbody>
                        <tfoot>
                        <td><a href="{% url 'cart_clear' %}">
                            <button class="btn btn-default update">Clear Cart</button>
                        </a></td>
                        <td><a href="#">
                            <button class="btn btn-default update">Checkout</button>
                        </a></td>
                        <td></td>
                        <td>
                            <hr>
                            <h3>Sub Total:</h3></td>
                        <td>
                            <hr>
                            <h3 class="cart_total_price">{{ cart_total_amount }}</h3></td>
                        </tfoot>
                    </table>
                </div>
            </div>
        </section> <!--/#cart_items-->
    {% endif %}

{% endblock %}

   