{% extends 'base.html' %}

{% block content %}
<h1>User Settings</h1>
<form method="post">
    {% csrf_token %}
    <label for="bio">Bio:</label>
    <textarea name="bio" id="bio" rows="4" cols="50">{{ user_profile.bio }}</textarea><br>
    <label for="favorite_food">Favorite Cuisine:</label>
    <input type="text" name="favorite_food" id="favorite_food" value="{{ user_profile.favorite_food }}"><br>
    <label for="favorite_restaurant">Favorite Restaurant:</label>
    <input type="text" name="favorite_restaurant" id="favorite_restaurant" value="{{ user_profile.favorite_restaurant }}"><br>
    <button type="submit">Save Changes</button>
</form>
{% endblock %}